body {
    background: #3fc4d0;
    color: black;
}

.navbar {
    opacity: 0.9;
    font-weight: bold;
}

#navbar-brand {
    color: black;
}

#nav-link {
    color: black;
}

#home-title {
    font-weight: bold;
    font-family: Comic Sans MS, cursive, sans-serif;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(81, 0, 128);
}

#home-img {
    height: 70%;
    border-radius: 150px;
}

#home-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;
    background: rgba(0, 0, 0, 0.5);
}

#home-section .home-inner {
    padding-top: 150px;
}

.title-header {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
